<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="static/styles/ext.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin One HTML - Bulma Admin Dashboard</title>
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        
        <nav class="navbar is-fixed-top">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
              <img src="static\Group 1.png" alt="Apna Bank" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        </nav>

          <!-- Account Statement -->

        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Employee Number : {{emp_det[0][0]}}
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content left">
            <div class="columns is-desktop">
              <div class="column">
                <b>Branch Name : </b> {{br_detail[0][2]}} <br>
                <b>Branch Address : </b>{{br_detail[0][1]}}<br>
                <b>IFSC Code : </b> {{br_detail[0][3]}}
              </div>
              <div class="column">
                <b>Employee Name : </b> {{emp_det[0][1]}}  <br>
                <b>Employee Addres : </b> {{emp_det[0][3]}}<br>
                <b>Designation : </b> {{emp_det[0][4]}}
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{url_for('accounts')}}" class="card-footer-item">New Account</a>
            <a href="{{url_for('deposit')}}" class="card-footer-item">Cash Deposit</a>
            <a href="{{url_for('customer')}}" class="card-footer-item">Customer</a>
            <a href="/dropsession" class="card-footer-item">Logout</a>
          </footer>
        </div>

              <!-- Message bar -->

        <article class="message is-primary">
          <div class="message-header">
            <p>Transaction Details</p>
            <!-- <button class="delete" aria-label="delete"></button> -->
          </div>
          <div class="message-body">
            
            <!-- Html Tables -->
            <table class="table center">
              <thead>
                <tr>
                  <th><abbr title="Tran_id">Trans_id</abbr></th>
                  <th><abbr title="Tran_date">Trans Date</abbr></th>
                  <th><abbr title="Withdrawal">Withdrawal</abbr></th>
                  <th><abbr title="Deposit">Deposit</abbr></th>
                  <th><abbr title="Acc_no">Acc_no</abbr></th>
                  <th><abbr title="Narration">Narration</abbr></th>
                  <th><abbr title="bal">Balance</abbr></th>
                </tr>
              </thead>
              
              <tbody>
                
                  {% for tr in tr_detail %}
                  <tr>
                  <th>{{tr[0]}}</th>
                  <td>{{tr[1]}}</td>
                  {% if tr[3] == 'D' %}
                  <td>{{tr[2]}}</td>
                  <td>{{""}}</td>
                  {% else %}
                  <td >{{""}}</td>
                  <td>{{tr[2]}}</td>
                  {% endif %}
                  <td>{{tr[4]}}</td>
                  <td>{{tr[5]}}</td>
                  <td>{{tr[6]}}</td>
                </tr>
                  {% endfor %}
              </tbody>

            </table>
          </div>
        </article>

      </div>
    </div>
  </section>
</body>
</html>
