<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="static/styles/ext.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin One HTML - Bulma Admin Dashboard</title>
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        
        <nav class="navbar is-fixed-top">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        </nav>

          <!-- Account Statement -->

        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Account Number : {{adetails[0][0]}}
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content left">
            <div class="columns is-desktop">
              <div class="column">
                <b>Branch Name : </b> {{bdetails[0][2]}} <br>
                <b>Branch Address : </b>{{bdetails[0][1]}}<br>
                <b>IFSC Code : </b> {{bdetails[0][3]}}
              </div>
              <div class="column">
                <b>Customer Name : </b> {{adetails[0][1]}}  <br>
                <b>Customer Addres : </b> {{adetails[0][3]}}<br>
                <b>Account Type : </b> {{adetails[0][5]}}
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item "><b>Balance : &nbsp; ₹ &nbsp;</b> {{adetails[0][4]}}</p>
            <a href="/transaction" class="card-footer-item">Pay</a>
            <a href="/dropsession" class="card-footer-item">Logout</a>
          </footer>
        </div>

              <!-- Message bar -->

        <article class="message is-primary">
          <div class="message-header">
            <p>Account statement</p>
            <!-- <button class="delete" aria-label="delete"></button> -->
          </div>
          <div class="message-body">
            
            <!-- Html Tables -->
            <table class="table center">
              <thead>
                <tr>
                  <th><abbr title="Transaction_date">Transaction Date</abbr></th>
                  <th><abbr title="Withdrawal">Withdrawal</abbr></th>
                  <th><abbr title="Deposit">Deposit</abbr></th>
                  <th><abbr title="Lost">Balance</abbr></th>
                  <th><abbr title="Narration">Narration</abbr></th>
                </tr>
              </thead>
              
              <tbody>
                
                  {% for tr in trdetails %}
                  <tr>
                  <th>{{tr[1]}}</th>
                  {% if tr[3] == 'D' %}
                  <td>{{tr[2]}}</td>
                  <td>{{""}}</td>
                  {% else %}
                  <td >{{""}}</td>
                  <td>{{tr[2]}}</td>
                  {% endif %}
                  <td>{{tr[6]}}</td>
                  <td>{{tr[5]}}</td>
                </tr>
                  {% endfor %}
              </tbody>

            </table>
          </div>
        </article>

      </div>
    </div>
  </section>
</body>
</html>
